<div class="container py-5 home">
  <div class="row align-items-center">
    <div class="col-lg-6 text-center">
      <img
        src="../../../../assets/images/online_banking_re_kwqh.svg"
        width="500"
        alt="banking image"
      />
    </div>

    <div class="col-lg-6 col-md-7">
      <div class="mt-4">
        <h1 class="mb-3">About Us</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo
          illum dolor odit, vel autem excepturi. Omnis quae quod, excepturi,
          consequatur, illo facilis illum fugiat autem asperiores aspernatur
          ullam officia.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo
          illum dolor odit, vel autem excepturi. Omnis quae quod, excepturi,
          consequatur, illo facilis illum fugiat autem asperiores aspernatur
          ullam officia.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi nemo
          illum dolor odit, vel autem excepturi. Omnis quae quod, excepturi,
          consequatur, illo facilis illum fugiat autem asperiores aspernatur
          ullam officia.
        </p>
      </div>
    </div>
  </div>
</div>
