.not-found__title {
  color: var(--clr-blue-4)
}

.not-found__btn {
  background-color: var(--clr-blue-4);
  color: var(--clr-grey-10);
  padding: 10px 20px;
  border: none;
  border-radius: var(--radius);
  cursor: pointer;
}

.not-found__btn:hover {
  background-color: var(--clr-blue-5);
}

.not-found__text {
  color: var(--clr-grey-1);
  font-size: 5rem;
}