<div class="container h-100">
  <div class="row h-100 text-center">
    <div class="col-lg-8 d-flex justify-content-center">
      <img
        src="../../../../assets/images/undraw_taken_re_yn20.svg"
        alt=""
        width="500px"
      />
    </div>
    <div class="col-lg-3 d-flex justify-content-center align-items-center">
      <div class="">
        <p class="not-found__text">404</p>
        <p class="fs-2 not-found__title">Page Not Found</p>
        <p>Sorry, we couldn't find the page you're looking for.</p>
        <a href="#" class="btn not-found__btn">Go Back Home</a>
      </div>
    </div>
  </div>
</div>
